@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- main wrapper start -->
<main>
    <!-- hero slider section start -->
    <section class="hero-slider">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                        <!-- single slider item start -->
                        @foreach (var slider in Model.Sliders)
                        {
                            <div class="hero-single-slide">
                                <div class="hero-slider-item bg-img" data-bg="assets/img/slider/@slider.Image">
                                    <div class="hero-slider-content slide-1">
                                        <h5 class="slide-subtitle">@slider.Title</h5>
                                        <h2 class="slide-title">@slider.Description</h2>
                                        <p class="slide-desc">@slider.Description</p>
                                        <a href="shop.html" class="btn btn-hero">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero slider section end -->
    <!-- service features start -->
    <section class="service-policy-area">
        <div class="container">
            <div class="row">
                <!-- single policy item start -->
                @foreach (var link in Model.Links)
                {
                    <div class="col-lg-4">
                        <div class="service-policy-item mt-30" style="background-color: @link.Color">
                            <div class="policy-icon">
                                <img src="~/assets/img/icon/@link.Image" alt="policy icon">
                            </div>
                            <div class="policy-content">
                                <h5 class="policy-title">@link.Title</h5>
                                <p class="policy-desc">@link.Description</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- service features end -->
    <!-- our product area start -->
    <section class="our-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.ProductHeader.Header</h2>
                        <p class="sub-title">@Model.ProductHeader.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                        <!-- product single item start -->
                        @foreach (var product in Model.Products.Take(5))
                        {
                            <div class="product-item mb-50">
                                <div class="product-thumb">
                                    <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@product.Id">
                                        @foreach (var item in product.ProductImages.Where(m => m.IsMain))
                                        {
                                            <img src="~/assets/img/product/@item.Image" alt="">
                                        }
                                    </a>
                                </div>
                                <div class="product-content">
                                    <input type="hidden" class="product-id" value="@product.Id" />
                                    <h5 class="product-name">
                                        <a href="product-details.html">@product.Name</a>
                                    </h5>
                                    <div class="price-box">
                                        <span class="price-regular">$@product.Price</span>
                                        <span class="price-old"><del>$@((product.Price*product.Discount).ToString("0.##"))</del></span>
                                    </div>
                                    <div class="product-action-link">
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        <a asp-controller="Home" asp-action="AddBasket" asp-route-id="@product.Id" class="add-to-cart" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                        <a href="#" data-toggle="modal" data-target="#quick_view">
                                            <span data-toggle="tooltip"
                                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                                </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our product area end -->
    <!-- banner statistic area start -->
    <div class="banner-statistics">
        <div class="container">
            <div class="row no-gutters mtn-30">
                @foreach (var banner in Model.Banners)
                {
                    <div class="col-md-6">
                        <div class="img-container mt-30">
                            <a href="product-details.html">
                                <img src="~/assets/img/banner/@banner.Image" alt="banner-image">
                            </a>
                            <div class="banner-text">
                                <h5 class="banner-subtitle">@banner.Subtitle</h5>
                                <h3 class="banner-title">@Html.Raw(banner.Title)</h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- banner statistic area end -->
    <!-- top seller area start -->
    <section class="top-seller-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.TopHeader.Title</h2>
                        <p class="sub-title">@Model.TopHeader.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="product-banner">
                        <a href="#">
                            <img src="~/assets/img/banner/banner-3.jpg" alt="product banner">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="top-seller-carousel slick-row-15 mtn-30">
                        <!-- product item start -->
                        @foreach (var item in Model.Products.OrderByDescending(m => m.SellCount))
                        {
                            <div class="slide-item">
                                <div class="pro-item-small mt-30">
                                    <div class="product-thumb">
                                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                            @foreach (var image in item.ProductImages.Where(m => m.IsMain))
                                            {
                                                <img src="~/assets/img/product/@image.Image" alt="">
                                            }
                                        </a>
                                    </div>
                                    <div class="pro-small-content">
                                        <h6 class="product-name">
                                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                        </h6>
                                        <div class="price-box">
                                            <span class="price-regular">$@((item.Price*item.Discount).ToString("0.##"))</span>
                                            <span class="price-old"><del>$@item.Price</del></span>
                                        </div>
                                        <div class="ratings">
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                        </div>
                                        <div class="product-link-2">
                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view">
                                                <span data-toggle="tooltip"
                                                      title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- product item start -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top seller area end -->
    <!-- latest blog area start -->
    <section class="latest-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.BlogHeader.Title</h2>
                        <p class="sub-title">@Model.BlogHeader.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-carousel-active slick-row-15">
                        @foreach (var blog in Model.Blogs)
                        {
                            <!-- blog single item start -->
                            <div class="blog-post-item">
                                <div class="blog-thumb">
                                    <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blog.Id">
                                        <img src="~/assets/img/blog/@blog.Image" alt="blog thumb">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="blog-title">
                                        <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blog.Id">
                                            @blog.Title
                                        </a>
                                    </h5>
                                    <ul class="blog-meta">
                                        <li><span>By: </span>@blog.By</li>
                                        <li><span>On:Db </span>@blog.Date</li>
                                    </ul>
                                    <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blog.Id">Read More...</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest blog area end -->
    <!-- brand area start -->
    <div class="brand-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-active-carousel">
                        @foreach (var brand in Model.Brands)
                        {
                            <div class="brand-item">
                                <a href="#">
                                    <img src="~/assets/img/brand/@brand.Image" alt="brand image">
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->
</main>
<!-- main wrapper end -->